@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply transition-colors duration-700;
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.animacaoLeft {
  animation: left 1s forwards;
}
.animacaoRight {
  animation: right 1s forwards;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 25px);
  }
}

@keyframes right {
  from {
    right: calc(-100% + 25px);
  }
  to {
    right: 0;
  }
}

.bg-custom {
  background: linear-gradient(
      10deg,
      rgba(255, 255, 255, 0) 49.98%,
      rgba(255, 255, 255, 0.2) 74.45%
    ),
    linear-gradient(0.35deg, #f5f5f5 0.34%, rgba(245, 245, 245, 0) 49.04%),
    radial-gradient(
      46.88% 47.49% at -1.87% -2.01%,
      rgba(244, 174, 255, 0.3) 0%,
      rgba(244, 174, 255, 0) 100%
    ),
    radial-gradient(
      43.89% 70.06% at 49% 104.97%,
      rgba(133, 238, 186, 0.15) 0%,
      rgba(133, 238, 186, 0) 100%
    ),
    radial-gradient(
      111.05% 75.88% at 168.35% 38.53%,
      #6d57ff 0%,
      rgba(165, 151, 255, 0) 100%
    ),
    #f5f5f5;
}
.c-loader {
  animation: is-rotating 1s infinite;
  border: 7px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #53267a;
  height: 120px;
  width: 120px;
}
.success-animation {
  margin: 150px auto;
}

.checkmark {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #42cb57;
  }
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hovered .hiddenDiv {
  display: block;
}

.hiddenDiv {
  display: none;
  position: absolute;
  cursor: pointer;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.transition-bg {
  background-color: #d1d5db; /* Cor inicial do fundo */
  background-image: linear-gradient(
    to left,
    #d1d5db,
    black
  ); /* Gradiente de cinza para preto da esquerda para a direita */
  background-repeat: no-repeat;
  background-size: 200% 100%; /* Ajuste o valor conforme necessário para cobrir toda a área */
  transition: background-position 5s, background-color 5s; /* Adiciona transição para ambas as propriedades */
  background-position: -100% 0; /* Inicializa a posição do gradiente à esquerda */
}

.content {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.content:hover {
  transform: translateY(-5%);
}

.circle,
.circle-border {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.circle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(1);
  animation: success-anim 700ms ease;
}

.circle-border {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
  background: #f86;
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: #f86;
  position: absolute;
}

.error::before {
  width: 80px;
  top: 48%;
  left: 16%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 80px;
  top: 48%;
  left: 16%;
  transform: rotateZ(-50deg);
}
